@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.btn {
    @include btn(100%, 42px, $primary_color, 3px);
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        transition: background-color 300ms;
    }
}

.primaryBtn {
    background-color: $primary_color;
    color: $white_color;

    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
    }
}

.secondaryBtn {
    background-color: $white_color;
    color: $primary_color;
    border: 1px solid $primary_color;

    &:hover {
        background-color: $primary_color;
        color: $white_color;
    }
}
