@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.btn {
    @include btn(176px, 42px, $primary_color, 3px);
    color: $white_color;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $primary_color;
        border: 1px solid $primary_color;
        transition: background-color 300ms;
    }
}
