@import '@styles/variables.module.scss';
@import '@styles/mixins.module.scss';

.container {
    @include flex_box_custom(space-between, center, 0px);
    background-color: $primary_color;
    margin-top: -140px;
    padding: 20px 50px;
}

.containerCard {
    @include flex_box_custom(center, center, 18px);
    height: 104px;
    width: 280px;
}

.containerContent {
    @include flex_box_custom(center, flex-start, 8px);
    flex-direction: column;
    color: $white_color;
    font-weight: 300;

    .title {
        font-size: 17px;
    }
    .des {
        font-size: 16px;
        color: #FFFFFFC7;
    }
}
