@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(space-between, center, 10px);
    margin-top: 40px;
}

.containerItem {
    @include flex_box_custom(space-between, center, 10px)

}