@import '@styles/variables.module.scss';
.box {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    margin: 5px;
}

.title {
    color: $seconddary_color;
    font-size: 18px;
}

.countDown {
    margin-top: 150px;
}
