@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.boxImg {
    width: 300px;
    height: 353px;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: opacity 500ms;

        pointer-events: none;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 0;
        bottom: 20px;
        right: 0px;
        background-color: white;
        transition: opacity 500ms, right 300ms;
    }

    &:hover .showFncWhenHover {
        opacity: 1;
        right: 20px;
    }

    .boxIcon {
        @include flex_box_custom(center, center, 0px);
        width: 40px;
        height: 40px;

        img {
            width: 17px;
            height: 17px;
        }

        &:hover {
            background-color: $four_color;
            transition: background-color 500ms;
        }
    }
}
.title {
    font-size: 16px;
    color: $four_color;
    margin: 6px 0px;
}

.priceClass {
    font-size: 14px;
    color: $thir_color;
    font-weight: 400;
}
