.boxImg {
    width: 300px;
    height: 353px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover .showImgWhenHover {
        opacity: 1;
        transition: opacity 500ms;
    }

    .showImgWhenHover {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .showFncWhenHover {
        position: absolute;
        opacity: 1;
        bottom: 0;
        right: 0;
        background-color: white;
    }
}
