@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container {
    @include flex_box_custom(center, center, 0px);

    background-image: url(../../assets/images/02-SLIDESHOW-1.jpeg);
    min-height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
}

.title {
    font-size: 42px;
    color: $four_color;
    font-weight: 400;
    margin: 15px 0;
}
.des {
    color: $thir_color;
    font-weight: 400;
    margin-bottom: 25px;
}
